// ----- height & widths -----

$maxDocWidth: 1200px;
$maxRowWidth: 700px;

// -----

$headerHeight: 60px; // height of the header

// -----

$secWidthSmallVW: 90%; // width for components in section (and paragraphs for smaller vw's)

// -----

$secWidthLargeVW: 75%; // width for paragraphs in section (for bigger vw's)
$secWidthLargeVWDec: .75; // $secWidthLargeVW : as decimal



// ----- padding and margins -----

$sidePadding: 5vw; // general side padding

// -----

$secHeadingSidePadding: calc((100% - #{$secWidthLargeVW})/4); // side padding for section headers

// -----

$buttonSideMargin: $secHeadingSidePadding; //Side Margins for section action buttons

// -----

$buttonPadding: 15px; // padding for section action buttons

// -----

$aboutPictureMargin: 20px; // padding around about-me picture



// ----- SOME SCARY MATH -----
$x: calc( ( ( #{$maxRowWidth} - ( #{$secWidthLargeVWDec} * #{$maxRowWidth} ) ) / 4 ) );
// this is the distance i need to translate the the p in row-2 to the right by. (b/c i translated the headings as well)
$transformP: calc( ( ( ( 1 - #{$secWidthLargeVWDec} ) / 2 ) * #{$maxRowWidth} ) - ( ( #{$maxRowWidth} - ( #{$secWidthLargeVWDec} * #{$maxRowWidth} ) ) / 4 ) );