footer { 
    .footer-wrapper {
        margin: auto;
        text-align: center;
    }
    .fa{
        @include translatexy(0,-1px);
        padding: 5px;
    }
    
    .copyright span{
        display: inline-block;
        padding: 10px;
    }
    
}