// ----- GENERAL -----
.row{
    max-width: $maxRowWidth;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.sec-heading{
    margin-top: $spacer2;
    margin-bottom: $spacer1;
}

// ----- Section 1 -----
.sec-container-1{
    text-align: center;
    height: calc(100vh - #{$headerHeight});
    position: relative;

#down-arrow-anchor{
    display: inline-block;
    position: absolute;
    bottom: 10px;
    left: 50%;
    @include translatexy(-50%,0);
}

    // ----- go down arrow -----
    .down-arrow{
        display: none !important;
        height: 25px;
        width: 50px;
        background: url('../img/down-arrow.png') no-repeat;
        background-size: contain;
        
        // ----- change size depending on vw and vh
        @media #{$hbrk-4}{
            display: block !important;
        }
        
        @media #{$hbrk-4}{
            height: 30px;
            width: 60px;
            bottom: 15px;
        }
        
        @media #{$hbrk-5} {
            height: 40px;
            width: 80px;
            bottom: 20px;
        }
    }
}

#slab-text-container{
    display: inline-block;
    width: 70%;
    max-width: 940px;
    margin-top: calc((100vh - #{$headerHeight})*.5);
    @include translatexy(0%,-50%);
    
    // ----- adjust size based on vw and vh -----
    @media (min-aspect-ratio: 8/5){
        width: calc((100vh - #{$headerHeight}*.35));
    }
    @media #{$landscape} and (max-height: 100px){
       display: none;
    }
}



// ----- Section 2 -----
.sec-container-2{
    position: relative;
    
    // ----- paragraphs -----
    p{
        margin-left: auto;
        margin-right: auto;
        text-align: left !important; // override text-align used to align action items
        width: $secWidthSmallVW;
        @media #{$brk-3}{
            width: $secWidthLargeVW;
        }
    }
    
    // ----- headings -----
    .sec-heading{
        padding-left: $secHeadingSidePadding;
        padding-right: $secHeadingSidePadding;
    }
    
    // ----- about section -----
    .about{
        @media #{$brk-row-toggle}{
            max-width: $maxAboutWidth;
            p{
                width: calc( 100% - #{$maxRowWidth} / 4 );
            }
        }
        max-width: $maxAboutWidth;
        .sec-heading{
            text-align: center;        
        }
        p img{
            width: 180px;
            height: auto;
            display: block;
            margin: auto !important;
            @media #{$brk-2}{
                float: left;
                margin: $aboutPictureMargin $aboutPictureMargin 0 0 !important;
            }
        }
    }
    
    // ----- row 1 -----
    .row-1{
        text-align: right;
        
        // ----- heading -----
        .sec-heading{
            text-align: left;
        }
        // ----- action button -----
        .sec-action-button{
            margin-right: $buttonSideMargin;
        }
        img{
            display: none;
            width: 250px;
            height: auto;
            @include ycenter();
            right: -250px;
            
            @media #{$brk-row-toggle}{
                display: block;
            }   
        }
        @media #{$brk-row-toggle}{
            @include translatexy(-25%,0%);
        }
    }    
    
    // ----- row 2 -----
    .row-2{
        text-align: center;
        
        // ----- heading -----
        .sec-heading{
            text-align: center;
        }
        @media #{$brk-row-toggle}{
            @include translatexy(25%,0%);
            p{
                @include translatexy( #{$transformP} , 0% );
            }
        }
        img{
            display: none;
            width: 250px;
            height: auto;
            @include ycenter();
            left: -250px;
            
            @media #{$brk-row-toggle}{
                display: block;
            }   
        }
    }    
    
    // ----- row 3 -----
    .row-3{
        
        // ----- heading -----
        .sec-heading{
            text-align: right;
        }
        
        // ----- action button -----
        .sec-action-button{
            margin-left: $buttonSideMargin;
        }
        @media #{$brk-row-toggle}{
            @include translatexy(-25%,0%);
        }
        img{
            display: none;
            width: 250px;
            height: auto;
            @include ycenter();
            right: -250px;
            @media #{$brk-row-toggle}{
                display: block;
            }   
        }
    }
    
    .portfolio{
        .sec-heading{
        text-align: center;
        margin-bottom: $spacer2;
        }
        p{
            max-width: calc(#{$maxRowWidth} * #{$secWidthLargeVWDec}); // calc to get width of row paragraphs
        }
    }

    .contact{
        max-width: $maxAboutWidth;
        margin: auto;
        position: relative;
        .sec-heading{
            text-align: center;
        }
        .contact-p-container{
            @media #{$brk-5}{
                float: left;
                width: 50%;
                position: absolute;
                top: 50%;
                @include translatexy(0,50%);
            }
        }
    }
}