.project-container{
    max-width: $maxAboutWidth;
    margin: auto;
}

.project{
    width: $secWidthSmallVW;
    max-width: 350px;
    @media #{$brk-3}{
        width: $secWidthLargeVW;
    }
    border: 1px solid $tertiary-color;
    display: block;
    margin-left: auto;
    margin-right: auto;
}