.report-card-container{
    margin: auto;
    text-align: center !important;
    h2{
        @include raleway();
        color: $quartiary-color;
        font-size: 2.5rem;
        margin-left: auto;
        margin-right: auto;
        width: $secWidthSmallVW;
        @media #{brk-3}{
            width: $secWidthLargeVW;
        }
    }
    p{
        @include openSans();
        line-height: 2;
        font-size: 1.5rem;
    }
}