// section HR seperators
.sec-hr{
    width: 65vw;
    min-width: 250;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.sec-hr-top-pad{
     margin-top: $secActionButtonPadding; // the same padding between the buttons and sec-hr's
}
.sec-hr-bottom-pad{
    margin-bottom: $secActionButtonPadding; // the same padding between the buttons and sec-hr's
}
.lg-sec-hr{
    width: 100% !important;
    max-width: 100vw !important;
}

// section spacers
.sec-spacer{
    width: 1px;
    height: $secSpacerHeight;
    background: transparent !important;
}